.navButton {
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
  background-color: #10b981;
  color: white;
  display: flex;
  gap: 0.3rem;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &:hover {
    background-color: transparent;
    color: #10b981;
  }
  
}
